@import url("pacientes.css");
@import url("citas.css");
@import url("facturas.css");
@import url("sesion.css");
@import url("agregar-paciente.css");
@import url("detalles.css");

* {
  margin: 0;
  padding: 0;
}

/* Navbar */

#all-nav {
  padding: 0;
}

#lists {
  margin: auto;
}

#lists li {
  padding: 10px;
}

#lists li:hover {
  background: #103b7d;
  color: rgb(210, 209, 209);
  transition: all ease-in 0.3s;
}

#nav-container {
  background: #144999;
  color: white;
}

#nav-container * {
  color: white;
}

.nav-link i {
  font-size: 1.5rem;
  margin: 0 2px;
}

#company-user * {
  color: greenyellow;
}

#logout * {
  color: rgb(224, 35, 35);
}

/* información de la clinica */

.clinic-info {
  margin: 0 0 40px;
  width: 100%;
  padding: 10px 20px;
}

.clinic-info * {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.clinic-info-top {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .clinic-info-top {
    display: flex;
    justify-content: center;
  }
}

.clinic-info-top img {
  height: 120px;
  width: 130px;
}

.clinic-info-top .text * {
  margin: 0;
}

.clinic-info-top .text h1 {
  margin-top: 15px;
}


/* Notificación */

#notificacion {
  border: solid red 2px;
}
