{% extends 'layout.html' %} {% include 'navbar.html' %} {% block body %}

<div class="pacientes">
  <div class="top-bar d-flex row">
    <div class="col-sm-12 col-md-6 title">
      <i class="bx bx-calendar-edit"></i>
      <h5>Agendar de citas</h5>
    </div>
  </div>

  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages %}
  <h1>{{ message }}</h1>
  {% endfor %} {% endif %} {% endwith %}

  <!-- formulario -->

  <form id="agregar-paciente-form" action="/guardar_cita" method="POST">
    <h4 id="agregar-paciente-titulo">INFORMACIÓN DEL PACIENTE</h4>
    <div>
      <label for="paciente">Paciente</label>

      <select name="paciente" id="">
        {% if patients %} {% for patient in patients %}
        <option value="{{patient[0]}}">{{patient[2]}} {{patient[3][0].upper()}}.</option>
        {% endfor %} {% endif %}</select
      ><br />
      <label for="fecha">Fecha</label>
      <input type="date" name="fecha" /><br />
      <label for="ingreso">Hora de ingreso</label>
      <input type="time" name="ingreso" placeholder="Hora de ingreso" /><br />
      <label for="salida">Hora de salida</label>
      <input type="time" name="salida" placeholder="Hora de salida" /><br />
      <label for="razon">Razón de cita</label>
      <input type="text" name="razon" placeholder="Razón de cita" /><br />
    </div>
    <div>
      <button type="submit">Agendar cita</button>
    </div>
  </form>
  {% endblock %}
</div>
