{% extends 'layout.html' %} {% include 'navbar.html' %} {% block body %}

<div class="pacientes">
  <div class="top-bar d-flex row">
    <div class="col-sm-12 col-md-6 title">
      <i class="bx bx-calendar-check"></i>
      <h5>Listado de citas</h5>
    </div>
    <div class="col-sm-12 col-md-6 search">
      <input placeholder="Buscar cita" type="text" name="" id="" />
      <button>Buscar</button>
    </div>
  </div>

  <!-- tabla con información -->
  <div class="top-navigation">
    <div id="add-appointment" class="citas">
      <a href="/agendar_cita"><button id="add-patient">Agendar cita</button></a>
    </div>
    <div id="show-days" class="dropdown citas">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Hoy
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <div id="paginations" class="citas">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li> -->
          <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="info d-flex justify-content-center">
    <table>
      <tr>
        <th>No.</th>
        <th>Fecha</th>
        <th>Inicio</th>
        <th>Fin</th>
        <th>Paciente</th>
        <th>Razón de cita</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
      {% if complete_data %} {% for data in complete_data %}
      <tr class="patient-container">
        <td>no actualizado</td>
        <td>
          {{data[1].strftime('%Y-%m-%d').split('-')[2]}}/{{data[1].strftime('%Y-%m-%d').split('-')[1]}}/{{data[1].strftime('%Y-%m-%d').split('-')[0]}}
        </td>
        <td>{{data[2]}}</td>
        <td>{{data[3]}}</td>
        <td>{{data[7].title()}} {{data[8].title()}}</td>
        <td>{{data[5].capitalize()}}</td>
        <td>
          {% if data[6] %}
          <button id="aprove-appointment">aprobada</button>
          {% else %}
          <button id="rejected-appointment">cancelada</button>
          {% endif %}
        </td>
        <td>
          <a id="tnone" href="/detalle_cita/{{data[0]}}">
            <button><i class="bi bi-eye"></i>ver</button>
          </a>
          <a href="/editar_cita/{{data[0]}}">
            <button type="button" ><i class="bi bi-pencil-square"></i>modificar</button>
          </a>
        </td>
      </tr>
      {% endfor %} {% endif %}
    </table>
  </div>

  {% endblock %}
</div>
