{% extends "layout.html" %} {% include 'navbar.html' %} {% block body %}

<div class="pacientes">
  <div class="top-bar d-flex row">
    <div class="col-sm-12 col-md-6 title">
      <i class="bx bx-detail"></i>
      <h5>Detalles de la cita</h5>
    </div>
  </div>

  <!-- Formulario con información -->

  <form
    id="agregar-paciente-form"
    action="/editar_cita/{{cita[0][0]}}"
    method="POST"
  >
    <h4 id="agregar-paciente-titulo">INFORMACIÓN DE LA CITA</h4>
    <div>
      {% if cita %} {% for cit in cita %}
      <label for="paciente">Paciente</label>
      <input
        type="text"
        name="paciente"
        value="{{cit[7].title()}} {{cit[8].title()}}"
        readonly
      />
      <a id="redireccion-paciente" href="{{url_for('paciente', id=cit[4])}}"
        ><i class="bi bi-list-ul"></i
      ></a>
      <br />
      <label for="fecha">Fecha</label>
      <input type="text" name="fecha" value="{{cit[1]}}" readonly /><br />
      <label for="ingreso">Hora ingreso</label>
      <input type="text" name="ingreso" value="{{cit[2]}}" readonly /><br />
      <label for="salida">Hora salida</label>
      <input type="text" name="salida" value="{{cit[3]}}" readonly /><br />
      <label for="razon">Razón cita</label>
      <input type="text" name="razon" value="{{cit[5]}}" readonly /><br />
      <label for="contacto">Contacto</label>
      <input type="text" name="contacto" value="{{cit[10]}}" readonly /><br />
      <label for="correo">Correo</label>
      <input type="text" name="correo" value="{{cit[9]}}" readonly /><br />
      {% endfor %} {% endif %}
    </div>
    <div class="atras-editar">
      <a href="/citas"
        ><button id="detalle-atras" type="button">Atras</button></a
      >
      <button id="detalle-editar" type="submit">Modificar información</button>
    </div>
  </form>
</div>
{% endblock %}
